<div class="cover-screen tent1">
  <div id="tent1" class="tentInterior tent1">
    <a><div onClick="takeMatchbox()" class="matchbox"></div></a>
    <div class="divider"></div>
    <div class="tentInterior tent1 door front"></div>
    <div class="tentInterior tent1 backwall"></div>
    <div class="tentInterior tent1 divider-wall"></div>
    <div class="tentInterior tent1 divider-wall bottomLining"></div>
    <div class="tentInterior tent1 divider-wall topLining"></div>
    <div class="tentInterior tent1 divider-wall topLining t2"></div>
    <div class="tentInterior tent1 bottomLining"></div>
    <div class="tentInterior tent1 topLining"></div>
    <div class="tentInterior tent1 topLining t2"></div>
    <!-- Kitchen -->
    <div class="shelf"></div>
    <div class="kitchen"></div>
    <div class="kitchen-floor"></div>
    <div class="backdoor"></div>
    <a><div onClick="leaveTent1(2)" class="doormat back"></div></a>
    <div class="kitchen-table"></div>
    <!-- Center -->
    <div class="painting"></div>
    <a><div onClick="leaveTent1(1)" class="doormat front"></div></a>
    <!-- Den -->
    <a><div onClick="sitOnCouch()" class="couch"></div></a>
    <a
      ><div onClick="openTVScreen()" class="tv back">
        <div class="tv front">
          <p
            style="
              position: absolute;
              left: 13px;
              color: darkgray;
              font-size: 0.4rem;
              top: 10px;
            "
          >
            About Me
          </p>
        </div>
      </div></a
    >
  </div>
</div>

<!--Animated Character-->
<div id="dylan">
  <div class="nes-balloon from-left">
    <p>HELLO WORLD</p>
  </div>
</div>

<div id="outerbrick_top"></div>

<div class="fountain"></div>
<a><div onClick="takeResume()" class="paper"></div></a>
<a><div onClick="takeMap()" class="scroll"></div></a>

<div class="rocks_top" style="z-index: 51"></div>
<div class="rocks_top" style="z-index: 51"></div>
<div class="rocks_top"></div>
<div id="topdoor"></div>
<div id="topbushes"></div>
<div id="topbushes_shadow"></div>
<div id="cliff"></div>
<div class="trees-top"></div>
<div class="trees-top right"></div>
<div id="arch"></div>
<div id="arch_bottom"></div>
<div class="fence top left"></div>
<div class="fence_shadow left"></div>
<div class="fence top right"></div>
<div class="fence_shadow right"></div>
<div class="side_fence left"></div>
<div class="side_fence left l2"></div>
<div class="side_fence right"></div>
<div class="side_fence tent1"></div>
<div class="fence BottomLeftTrees"></div>

<a><div id="backpack" onclick="enableBackpack()"></div></a>
<div id="wrapper">
  <!--Cobblestone Path-->
  <div class="path center"></div>
  <div class="path center right"></div>
  <div class="path center right incline"></div>
  <div class="path topLeft"></div>
  <div class="path topRight"></div>
  <div class="path center left"></div>
  <div class="path tent1"></div>
  <div class="path leftCampfire"></div>
  <div class="path bottom"></div>
  <!--Elements on Inclined Surface-->
  <div class="lamppost l1"></div>
  <div class="lamppost l2"></div>
  <div class="rocks_vert incline left i1"></div>
  <div class="rocks_vert incline left i2"></div>
  <div class="rocks_vert incline left i3"></div>
  <div class="rocks_vert incline left i4"></div>
  <!-- <div class="rocks_vert incline right i1"></div><div class="rocks_vert incline right i2"></div> -->
  <div class="rocks_top incline bottom i1"></div>
  <div class="rocks_top incline bottom i2"></div>
  <div class="rocks_top incline bottom i3"></div>
  <div class="rocks_top incline bottom i4"></div>
  <div class="rocks_top incline bottom i5"></div>
  <div class="rocks_top incline bottom i6"></div>
  <div class="rocks_top incline top i1"></div>
  <div class="rocks_top incline top i2"></div>
  <div class="rocks_top incline top i3"></div>
  <div class="rocks_top incline top water_funnel"></div>
  <div class="rocks_floor"></div>
  <div class="rocks_floor lower_level"></div>
  <div class="water water_funnel"></div>
  <div class="water waterfall1"></div>
  <div class="pond">
    <div class="pond island"></div>
    <div class="pond brick"></div>
    <div class="pond island rocks"></div>
  </div>

  <div class="rocks middle_pool"></div>
  <div class="rocks_vert incline funnel"></div>
  <div class="rocks_vert incline funnel f2"></div>
  <div class="pool top"></div>
  <div class="pool middle"></div>
  <div class="pool verticalFunnel f1"></div>
  <div class="pool verticalFunnel f2"></div>
  <div class="pool verticalFunnel2"></div>
  <div class="pool verticalFunnel3"></div>
  <div class="pool verticalFunnel4"></div>
  <div id="tracks1"></div>
  <div class="stairs-front incline"></div>
  <div class="path tent2"></div>
  <div class="tall-tree borderTreesRight"></div>
  <div class="tall-tree borderTreesLeft"></div>
  <div class="tall-tree borderTreesLeft bottom-portion"></div>

  <div class="curved-tree c1"></div>
  <div class="curved-tree c2"></div>
  <div class="puffy-tree top left"></div>
  <div class="puffy-tree top right"></div>
  <div class="puffy-tree bottom left"></div>
  <div class="puffy-tree bottom right"></div>
  <div class="shrub pathway topShrubs"></div>
  <div class="shrub pathway topShrubs right"></div>

  <div id="right_fence"></div>
  <div id="bridge"></div>
  <div class="garbage-can"></div>
  <div id="grass"></div>
  <div class="tent t1"></div>
  <div class="tentdoor tent1"></div>
  <div class="fence tent1"></div>
  <div class="intro-portfolio s4"></div>
  <div class="intro-portfolio s5"></div>
  <div class="intro-portfolio s6"></div>
  <div class="intro-portfolio s7"></div>
  <div class="intro-portfolio s8"></div>
  <div class="intro-portfolio s9"></div>
  <div class="intro-portfolio"></div>
  <div class="intro-portfolio s2"></div>
  <div class="intro-portfolio s3"></div>
  <a target="_blank"
    ><div onClick="openPortfolio()" class="logos-banner"></div
  ></a>

  <a><div onClick="takeAxe()" id="stump"></div></a>

  <!-- Family Characters -->
  <div class="special-thanks-sign"></div>
  <div class="characters scott"></div>
  <div class="characters pam"></div>
  <div class="characters dogs"></div>
  <div class="characters ian"></div>

  <!-- Bonfire Elements -->
  <div class="stairs-front campfire"></div>
  <div class="stairs-left campfire"></div>
  <div class="rocks_top campfire"></div>
  <div class="rocks_top campfire t2"></div>
  <div class="rocks_top campfire bottom"></div>
  <div class="rocks_top campfire bottom b2"></div>
  <div class="rocks_vert left"></div>
  <div class="rocks_vert left layer2"></div>
  <div class="rocks_vert left layer3"></div>
  <div class="rocks_vert right"></div>
  <div class="rocks_vert right layer2"></div>
  <div class="rocks_vert right layer3"></div>

  <!-- Soccer Game -->
  <div class="soccer-goal"></div>
  <div class="soccer-goal back"></div>
  <div class="soccer-lines"></div>
  <a><div onClick="choosePlayers()" class="soccer-ball"></div></a>
  <!-- <div class="nes-container is-centered soccer">
            <p class="title">0</p>
        </div> -->

  <a><div onClick="sitOnLog('top')" class="bench top"></div></a>
  <a><div onClick="sitOnLog('bottom')" class="bench bottom"></div></a>
  <a><div onClick="sitOnLog('left')" class="tree-stump left"></div></a>
  <a><div onClick="sitOnLog('right')" class="tree-stump right"></div></a>
  <a><div onClick="togglefire()" id="bonfire"></div></a>
  <div class="dirt-circle"></div>
  <a><div onClick="treeChop()" id="falling-tree"></div></a>
  <a onclick="takeWood()"><div id="wood-log"></div></a>

  <div class="tall-tree top left"></div>
  <div class="tall-tree top right"></div>
  <div class="tall-tree walls left"></div>
  <div class="tall-tree walls right"></div>
  <div class="tall-tree bottom"></div>
  <!-- Bottom Fences -->
  <div class="fence bottom left"></div>
  <div class="fence bottom right"></div>

  <!-- Natural Elements -->
  <div class="rocks_top beach"></div>
  <div class="mushroom-yellow m1"></div>
  <div class="mushroom-yellow m2"></div>
  <div class="mushroom-yellow m3"></div>

  <div class="mushroom-grey m1"></div>
  <div class="mushroom-grey m2"></div>

  <div class="yellow-flowers y1"></div>
  <div class="yellow-flowers y2"></div>
  <div class="yellow-flowers y3"></div>
  <div class="yellow-flowers y4"></div>
  <div class="yellow-flowers y5"></div>
  <div class="yellow-flowers y6"></div>
  <div class="yellow-flowers y7"></div>
  <div class="yellow-flowers y8"></div>
  <div class="pink-tulips p1"></div>
  <div class="pink-tulips p3"></div>

  <div class="rose-bush r1"></div>
  <div class="rose-bush r2"></div>
  <div class="rose-bush r3"></div>
  <div class="rose-bush r4"></div>
  <div class="bridgePond"></div>
  <div class="bush b1"></div>
  <div class="bush b2"></div>
  <div class="bush b3"></div>

  <div class="moss-log"></div>

  <div class="flower-with-mushroom f1"></div>
  <div class="flower-with-mushroom f2"></div>
</div>
<div id="ocean"></div>
<div id="ocean-anim"></div>

<div id="dock"></div>
<div class="fish-from-water"></div>
<a onClick="takeFishingRod()"><div class="fishing-rod"></div></a>
<a onClick="takeBook()"><div class="book-item"></div></a>

<div id="resume"></div>
